<%- include('partials/header.ejs') %>
<div class="d-flex justify-content-between align-items-center">
   <div class="p-2">Left</div>
   <div class="p-2">Center</div>
   <div class="p-2">Right</div>
</div>
<%- include('partials/footer.ejs') %>
