<%- include('partials/header.ejs') %>
<div class="d-flex justify-content-between align-items-center">
   <div class="p-2"></div>
   <div class="p-2">
      <p>Date picker functionality... soon!</p>
      <p>In the meantime, try changing the URL to include a valid date from May 3, 2021 to present. For example: "/parking/2021-05-07" or just click <a href="<%= linkToday; %>">here</a> to go to today.</p>
   </div>
   <div class="p-2"></div>
</div>
<%- include('partials/footer.ejs') %>
